.ui-page-body {
    -webkit-overflow-scrolling : touch;
}
input,
textarea {
  -webkit-appearance: none;
}

@media all and (min-width: 800px) {
    .list-box {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100000;
        width: 400px;
        padding: 16px;
        background-color: #fff;
        overflow: auto;
        border-left: 1px solid #ccc;
    }
}
.unicode-list {
    overflow: hidden;
    .item {
        float: left;
        width: 64px;
        height: 64px;
        margin: 0 12px 13px 0;
        background: #FFF;
        text-align: center;
        color: #293232;
        border: 1px solid;
        border-radius: 3px;
        border-color: #E5E6E7 #E1E2E3 #DCDDDE;
        font-size: 24px;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 6px #C1C2C3;
            border: 1px solid #C5C6C7;
            color: #000;
            span {
                font-size: 48px;
            }
        }
    }
    span {
        line-height: 64px;
        display: block;
        font-size: 32px;
        transition: all .3s;
    }
    a {
        line-height: 24px;
        padding-bottom: 1px;
        font-size: 12px;
        display: block;
        color: #BDBEBF;
        cursor: pointer;
    }
}